page-home {

}

.has-refresher .scroll-content {
    border-top: 0 !important;
}

.weather-table-head {
  margin-top: 14px;
  margin-bottom: 8px;
}

.weather-table-body {
  margin-top: 8px;
  margin-bottom: 8px;
}
