<ion-header>
  <ion-navbar>
    <ion-row>
      <!--
      <button ion-button clear icon-only color="balanced" (click)="addNewTag()">
          <ion-icon name="arrow-dropdown"></ion-icon>
      </button>
      -->
      <ion-title>
        <ion-input no-margin no-padding [attr.maxlength]="25" [(ngModel)]="searchLocation" style="color: black;"></ion-input>
      </ion-title>
      <button ion-button clear icon-only float-right color="balanced" (click)="requestSearch(true)">
          <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button clear icon-only float-right color="balanced" (click)="requestCoords(true, null)">
          <ion-icon name="locate"></ion-icon>
      </button>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="requestCoords(false, $event)" *ngIf="!showSpinner">
    <ion-refresher-content
      pullingIcon="none"
      refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <div text-center *ngIf="showSpinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div *ngIf="lineChartData">
    <ion-row>
      <ion-col no-padding>
        <h5 no-margin>
          {{forecast.time * 1000 | date: 'EEEE, MMM d'}}
        </h5>
        <h6 no-margin>
          {{forecast.summary}}
        </h6>
        <ion-row>
          <ion-col col-3 style="margin-top: 8px;">
            <h1 no-margin>
              <ion-icon class="wi {{forecast.icon}}"></ion-icon>
            </h1>
          </ion-col>
          <ion-col col-9 style="margin-top: 8px;">
            <h1 no-margin>
              {{forecast.temperature | number:'1.0-0'}}\xB0
            </h1>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-4 no-padding>
        <p no-margin>
          Percipitation: {{forecast.precipProbability * 100 | number:'1.0-0'}}%
        </p>
        <p no-margin>
          Humidity: {{forecast.humidity * 100 | number:'1.0-0'}}%
        </p>
        <p no-margin>
          Wind: {{forecast.windSpeed | number:'1.0-1'}} mph
        </p>
      </ion-col>
    </ion-row>
    <ion-row no-margin no-padding>
      <ion-col offset-6 no-padding style="padding-bottom: 4px; padding-right: 2px">
        <button ion-button small no-margin style="width: 100%; font-size: 1.2rem;" [disabled]="showingTemp" (click)='updateGraph(true);'>Temp</button>
      </ion-col>
      <ion-col no-padding style="padding-bottom: 4px; padding-left: 2px">
        <button ion-button small no-margin style="width: 100%; font-size: 1.2rem;" [disabled]="!showingTemp" (click)='updateGraph(false);'>Percip</button>
      </ion-col>
    </ion-row>
    <div style="display: block;" height="50vh">
      <canvas baseChart *ngIf="lineChartData"
                [chartType]="lineChartType"
                [datasets]="lineChartData"
                [options]="lineChartOptions"
                [labels]="lineChartLabels"
                [colors]="lineChartColors"
                [legend]="false"></canvas>
    </div>
    <ion-row text-center>
      <ion-col *ngFor="let day of daily">
        <h5 style="margin-top: 14px; margin-bottom: 8px">
          {{day.dayOfWeek}}
        </h5>
        <p style="margin-top: 8px; margin-bottom: 8px">
          {{day.temperatureHigh | number:'1.0-0'}}\xB0
        </p>
        <p style="margin-top: 8px; margin-bottom: 8px">
          <ion-icon class="wi {{day.icon}}"></ion-icon>
        </p>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col *ngFor="let room of rooms">
        <h5 style="margin-top: 14px; margin-bottom: 8px">
          {{room.room}}
        </h5>
        <p style="margin-top: 8px; margin-bottom: 8px">
          {{room.temperature | number:'1.0-0'}}\xB0
        </p>
        <p style="margin-top: 8px; margin-bottom: 8px">
          Feels Like: {{room.feelsLike | number:'1.0-0'}}\xB0
        </p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
